// Types
!**/*.d.ts

// Typescript source code
**/*.ts

// Javascript source code (generated)
!dist/

// Dependencies
node_modules/

// Config
.husky/
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierrc
jest.config.js
tsconfig.json
