// Typs
!**/*.d.ts

// Typescript
src/
**/*.ts

// Javascript
!dist/

// Dependencies
node_modules/

// Config
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierrc
jest.config.js
README.md
tscofig.json
